<nav class='material shadow app-bar dark'>
    <div class=left>
        <i class='material-icons md-36 btn'>menu</i>
    </div>

    <div class=middle>
        <div class='search material shadow'>
            <i class='material-icons md-dark'>search</i>
            <input placeholder=Search>
        </div>
    </div>

    <div class=right>
        <a href=#queue><i class='material-icons md-36 btn'>queue_music</i></a>
    </div>
</nav>