<% include snippets/page-top.ejs %>

<div id='library' class='page main'>
    <header class=row>Library</header>
    <div class='material row shadow list'>
        <% for (let track of library) { %>
        <track-item class='col-xs-12' data-track-id=<%= track.id %>>
            <div class=title><%= track.title %></div>
            <span class=artist><%= track.artist %></span>
            <span class=album><%= track.album %></span>
        </track-item>
        <% } %>
    </div>
</div>

<div id=queue class='page'>
    <header class=row>Queue</header>
    <div class='material row shadow list'>
        <% for (let track of queue) { %>
        <track-item class='col-xs-12 queue' data-track-id=<%= track.id %>>
            <div class=title><%= track.title %></div>
            <span class=artist><%= track.artist %></span>
            <span class=album><%= track.album %></span>
        </track-item>
        <% } %>
    </div>
</div>

<% include snippets/page-bottom.ejs %>
