<% include snippets/page-top.ejs %>

    <div id=login class='card row page'>
        <h3 class=col-xs-12>Login with Prex Account</h3>
        <form id=login-form class=col-xs-12>
            <input name=username placeholder=Email type=email>
            <input name=password placeholder=Password type=password>
            <div id=submit-plex-login class='btn bg'>Login</div>
        </form>
    </div>

    <div id=account class='card row page main'>
        <h3 class=col-xs-12>Connect GPM Account</h3>
        <form id=gpm-login-form data-account-type=gpm class='account-link-form col-xs-12'>
            <input class=username placeholder=Email type=email>
            <input class=password placeholder=Password type=password>
            <div id=submit-gpm-login class='submit-btn btn bg'>Connect</div>
        </form>
    </div>
</main>
</body>
</html>
