* {
    box-sizing: border-box;
}

html {
    /* iOS */
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*font: -apple-system-body;*/

    /* Android */
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    color: #555;
    background: #e2e1e0;
    /*text-align: center;*/
}

main {
    padding: 74px 0 125px 0;
}

header {
    font-size: 48px;
    width: 100%;
    text-align: left;
    margin: 15px 0;
}

h1,h2,h3,h4,h5,h6 { text-align: left; }

button,
select,
input {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    border: none;

    -webkit-tap-highlight-color: transparent;
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}



a {
    color: inherit;
}

a:hover {
    color: #888;
}

.btn {
    cursor: pointer;
}

.btn.bg {
    height: 30px;
    border-radius: 2px;
    color: #fff;
    background: #444;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    min-width: 75px;

}

.dark {
    color: #ffffff;
}

.text.lg {
    font-size: 24px;
    font-weight: 400;
}

.text.sm {
    font-size: 12px;
}

.card {
    background: #fff;
    border-radius: 3px;

    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.material {
    display: flex;
    background: #fff;
    border-radius: 3px;
}

.material.shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.app-bar {
    display: flex;
    position: fixed;
    z-index: 100;
    height: 64px;
    width: 100%;
    padding: 0 15px;
    background-color: #444;
    align-items: center;
    border-radius: 0;
}

.app-bar > div {
    display: flex;
    align-items: center;
    height: 48px;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.app-bar > .left {
    flex-direction: row;
}

.app-bar > .middle {
    flex-grow: 2;
    max-width: 800px;
    justify-content: center;
}

.app-bar > .middle > .search {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 48px;
    width: 100%;
    padding: 0 16px;
    color: #555;;
}
.app-bar > .middle > .search > input {
    height: 100%;
    width: 100%;
    padding-left: 16px;
    font-size: 16px;
    text-align: left;
}

.app-bar > .right{
    flex-direction: row-reverse;
}

.material-icons.btn:not(:first-child) {
    padding: 0 10px;
}

.page {
    display: none;
}

.page.active {
    display: block;
}