<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">

    <title>clayBae</title>

    <link rel=stylesheet href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel=stylesheet href='/static/css/bootstrap.min.css'>
    <link rel=stylesheet href='/static/css/styles.css'>
    <link rel=stylesheet href='/static/css/material-fonts.css'>

    <script type=application/javascript src='/static/js/playerstatus.js'></script>
    <script type=application/javascript src=/static/html/base-element.js></script>
    <script type=application/javascript src=https://cdn.socket.io/socket.io-1.4.5.js></script>
    <script type=application/javascript src='/static/js/cbm.js'></script>

    <link rel=import href='/static/html/media-player.html'>
    <link rel=import href='/static/html/track-item.html'>
</head>
<body>

<% include ../components/app-bar.ejs %>

<main class=container>
