    </main>

    <media-player class='shadow'>
    <% if (currentTrack != undefined) { %>
        <span class=title><%= currentTrack.title %></span>
        <span class=artist><%= currentTrack.artist %></span>
        <span class=album><%= currentTrack.album %></span>
    <% } %>
    </media-player>
</body>
</html>