
<template id=media-player-tpl>
    <style>
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
        }

        .material-icons {
            font-family: 'Material Icons', 'sans-serif';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }
        .material-icons.md-36 { font-size: 36px; }
        .material-icons.md-48 { font-size: 48px; }

        a { color: inherit; }
        a:hover { color: #888; }
        .btn { cursor: pointer; }

        :host {
            display: flex;
            position: fixed;
            z-index: 100;
            height: 100px;
            width: 100%;
            bottom: 0;

            align-items: center;
            background-color: #444;
            color: #ffffff;

            padding: 0 15px;
            border-radius: 0;
        }


        #title {
            font-size: 30px;
            font-weight: 400;
        }

        #artist {
            font-size: 16px;
        }

        #album {
            font-size: 12px;
        }

        :host > div {
            display: flex;
            align-items: center;
            height: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
        }

        #left {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .song-info {
            display: flex;
            text-align: left;
            flex-direction: inherit;
        }

        #media-controls {
            /*flex-grow: 2;*/
            max-width: 800px;
            justify-content: center;
        }

        #right {
            flex-direction: row-reverse;
        }
    </style>

    <div id=left>
        <div id=title><content select=.title></content></div>
        <div class=song-info>
            <span id=artist><content select=.artist></content></span>
            <span id=album><content  select=.album></content></span>
        </div>
    </div>

    <div id=media-controls>
        <i id=prev class='material-icons md-48 btn'>skip_previous</i>
        <i id=play class='material-icons md-48 btn'>play_circle_outline</i>
        <i id=next class='material-icons md-48 btn'>skip_next</i>
    </div>

    <div id=right>
        <a href='/queue'><i class='material-icons md-36 btn'>queue_music</i></a>
    </div>
</template>

<script type=application/javascript>
    const mediaPlayerScript = document.currentScript;

    class MediaPlayerElement extends BaseElement {
        createdCallback() {
            this.create({
                template: 'media-player-tpl',
                script: mediaPlayerScript
            });

            this._state = player_status.OFF;
            this.currentTrack = undefined;

            this.title_e  = this.shadowRoot.getElementById('title');
            this.artist_e = this.shadowRoot.getElementById('artist');
            this.album_e  = this.shadowRoot.getElementById('album');
            this.playBtn  = this.shadowRoot.getElementById('play');
            this.prevBtn  = this.shadowRoot.getElementById('prev');
            this.nextBtn  = this.shadowRoot.getElementById('next');

            this.prevBtn.onclick = () => this.dispatchSkipPrevEvent();
            this.nextBtn.onclick = () => this.dispatchSkipNextEvent();
            this.playBtn.onclick = () => {
                if (this._state == player_status.PLAY) {
                    this.dispatchPauseButtonEvent();
                } else {
                    this.dispatchPlayButtonEvent();
                }
            }
        }

        dispatchPlayerStateChangeEvent(state) {
            this.dispatchEvent(new CustomEvent('statechange', {
                detail: { state },
                cancelable: true,
                bubbles: true
            }));
        }

        dispatchPlayButtonEvent() {
            this.dispatchPlayerStateChangeEvent(player_status.PLAY);
            this.dispatchEvent(new CustomEvent('play', {
                detail: { trackId: this.trackId },
                cancelable: true,
                bubbles: true
            }));
        }

        dispatchPauseButtonEvent() {
            this.dispatchPlayerStateChangeEvent(player_status.PAUSE);
            this.dispatchEvent(new CustomEvent('pause', {
                detail: { trackId: this.trackId },
                cancelable: true,
                bubbles: true
            }));
        }

        dispatchSkipNextEvent() {
            this.dispatchEvent(new CustomEvent('skipnext', {
                cancelable: true,
                bubbles: true
            }));
        }

        dispatchSkipPrevEvent() {
            this.dispatchEvent(new CustomEvent('skipprevious', {
                cancelable: true,
                bubbles: true
            }));
        }

        get trackId() {
            if (this.currentTrack != undefined && this.currentTrack.hasOwnProperty('id'))
                return this.currentTrack.id;
            return undefined;
        }

        get state() { return this._state }
        set state(state) {
            this._state = state;
            switch (this._state) {
                case player_status.PLAY:
                    this.playBtn.innerHTML = 'pause_circle_outline';
                    break;
                case player_status.OFF:
                case player_status.PAUSE:
                    this.playBtn.innerHTML = 'play_circle_outline';
                    break;
            }
        }

        get track() { return this.currentTrack }
        set track(track) {
            this.currentTrack = track;
            this.title_e.innerHTML  = track.title;
            this.artist_e.innerHTML = track.artist;
            this.album_e.innerHTML  = track.album;
        }
    }

    document.registerElement('MEDIA-PLAYER', {
        prototype: MediaPlayerElement.prototype,
        extend: 'DIV'
    });
</script>