<template id=track-item-tpl>
    <style>
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
        }

        .material-icons {
            font-family: 'Material Icons', 'sans-serif';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }

        :host {
            display: flex;
            height: 75px;
            text-align: left;
            transition: background-color 200ms, color 400ms;
        }

        :host(:hover) {
            background-color: #666;
            color: #ffffff;
        }

        :host .add-track:after {
            content: 'add';
        }

        :host(.queue) .add-track:after,
        :host(.in-queue) .add-track:after {
            content: 'clear';
        }

        .track-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 75%;
            padding: 0;
        }

        .track-actions {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            height: 100%;
            width: 25%;
            text-align: left;
            padding: 0;
        }

        .btn {
            cursor: pointer;
        }

        .text.lg {
            font-size: 24px;
            font-weight: 400;
        }

        .text.sm {
            font-size: 12px;
        }
    </style>

    <div class='track-info'>
        <div class='text lg'>
            <content select=.title></content>
        </div>
        <div class='text sm'>
            <content select=.artist></content>
            <span> - </span>
            <content select=.album></content>
        </div>
    </div>

    <div class='track-actions'>
        <i role=button class='material-icons more-toggle btn'>more_vert</i>
        <i role=button class='material-icons btn play-btn'>play_arrow</i>
        <i role=button class='material-icons btn add-track'></i>
    </div>
</template>

<script>
    const trackItemScript = document.currentScript;

    class TrackItemElement extends BaseElement {
        createdCallback() {
            this.create({
                template: 'track-item-tpl',
                script: trackItemScript
            });

            this.trackId = this.dataset['trackId'];
            this.addBtn = this.shadowRoot.querySelector('.add-track');

            this.addBtn.addEventListener('click', () => {
                if (this.classList.contains('in-queue')) {
                    this.dispatchRemoveEvent();
                } else {
                    this.dispatchAddEvent();
                }
            });
        }

        dispatchAddEvent() {
            this.dispatchEvent(new CustomEvent('addtrack', {
                detail: { trackId: this.trackId },
                cancelable: true,
                bubbles: false
            }));
        }

        dispatchRemoveEvent() {
            this.dispatchEvent(new CustomEvent('removetrack', {
                detail: { trackId: this.trackId },
                cancelable: true,
                bubbles: false
            }));
        }
    }

    document.registerElement('TRACK-ITEM', {
        prototype: TrackItemElement.prototype,
        extend: 'DIV'
    });
</script>